extends layout

block content
  section.home-full-slider-wrapper.mb-10px
  // Hero Slider
  .owl-carousel.owl-theme.owl-dots-modern.home-full-slider
    .item.home-full-item(style='background: #f8d5cf;')
      img.bg-image(src='https://images.unsplash.com/photo-1541901079492-928423fefc45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80', alt='')
      .container-fluid.h-100.py-5
        .row.align-items-center.h-100
          .col-lg-8.col-xl-6.mx-auto.text-white.text-center
            h5.text-uppercase.text-white.font-weight-light.mb-4.letter-spacing-5  Just arrived
            h1.mb-5.display-2.font-weight-bold.text-serif Denim Jackets
            p.lead.mb-4
              span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              span incididunt ut labore et dolore magna aliqua.
            p
              a.btn.btn-light(href='category.html') View collection
    .item.home-full-item.bg-dark.dark-overlay
      img.bg-image(src='img/photo/ian-dooley-347942-unsplash.jpg', alt='')
      .container-fluid.h-100
        .row.align-items-center.h-100
          .col-lg-8.col-xl-6.mx-auto.text-white.text-center.overlay-content
            h1.mb-4.display-2.text-uppercase.font-weight-bold Skeleton Tees
            p.lead.mb-5
              span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              span incididunt ut labore et dolore magna aliqua.
            p
              a.btn.btn-light(href='category.html') Start shopping
    .item.home-full-item
      img.bg-image(src='img/photo/haley-phelps-62815-unsplash.jpg', alt='')
      .container-fluid.h-100
        .row.align-items-center.h-100
          .col-lg-8.col-xl-6.mx-auto.text-white.text-center
            h5.text-uppercase.font-weight-light.mb-4.letter-spacing-5  Our bestseller
            h1.mb-5.display-1.font-weight-bold.text-serif Skinny Jeans
            p
              a.btn.btn-light(href='category.html') View collection


