doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylsheets/nouislider.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700')
    link(rel='stylesheet', href='/stylesheets/owl.carousel.css')
    link(rel='stylesheet', href='/stylesheets/ekko-lightbox.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      header.header.header-absolute
        .top-bar
          .container-fluid
            .row.d-flex.align-items-center
              .col-sm-7.d-none.d-sm-block
                ul.list-inline.mb-0
                  li.list-inline-item.pr-3.mr-p
                    svg.svg-icon.mr-2 Abc 123
                      use(xlink:href="#calls-1") 
                  li.list-inline-item.px-3.border-left.d-none.d-lg-inline-block This is header tags
              .col-sm-5.d-flex.justify-content-end
                p Language drop down
                .dropdown.pl-3.ml-0
                  p Currency selector
    block content
    block footer
