doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylsheets/nouislider.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700')
    link(rel='stylesheet', href='/stylesheets/owl.carousel.css')
    link(rel='stylesheet', href='/stylesheets/ekko-lightbox.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
    header.header
      // Navbar
      nav.navbar.navbar-expand-lg.bg-transparent.navbar-sticky.navbar-airy.navbar-light.bg-hover-white.bg-fixed-white.navbar-hover-light.navbar-fixed-light
        .container-fluid
          // Navbar Header
          a.navbar-brand(href='/')
            svg.navbar-brand-svg(viewBox='0 0 65 16', width='85', height='20', fill='none', xmlns='http://www.w3.org/2000/svg')
              path.navbar-brand-svg-text(d='M5.72266 18.1562C4.88281 18.1562 4.08529 18.0033 3.33008 17.6973C2.58138 17.3913 1.94661 16.9355 1.42578 16.3301C0.911458 15.7181 0.582682 14.9759 0.439453 14.1035L2.90039 13.4785C2.98503 14.2988 3.28776 14.9173 3.80859 15.334C4.33594 15.7507 4.98698 15.959 5.76172 15.959C6.23698 15.959 6.64714 15.8841 6.99219 15.7344C7.33724 15.5781 7.59766 15.3665 7.77344 15.0996C7.94922 14.8327 8.03711 14.5332 8.03711 14.2012C8.03711 13.804 7.91341 13.4655 7.66602 13.1855C7.42513 12.9056 7.1224 12.6745 6.75781 12.4922C6.39323 12.3099 5.89193 12.0918 5.25391 11.8379C4.42057 11.5059 3.74674 11.1999 3.23242 10.9199C2.7181 10.6335 2.27539 10.2363 1.9043 9.72852C1.53971 9.2207 1.35742 8.57943 1.35742 7.80469C1.35742 7.01693 1.54948 6.33659 1.93359 5.76367C2.32422 5.18424 2.84505 4.74479 3.49609 4.44531C4.15365 4.14583 4.8763 3.99609 5.66406 3.99609C6.54948 3.99609 7.35677 4.19792 8.08594 4.60156C8.8151 4.9987 9.40755 5.60417 9.86328 6.41797L7.80273 7.67773C7.56185 7.20898 7.24609 6.84766 6.85547 6.59375C6.46484 6.33333 6.03841 6.20312 5.57617 6.20312C5.25065 6.20312 4.95443 6.26497 4.6875 6.38867C4.42708 6.51237 4.21875 6.68815 4.0625 6.91602C3.91276 7.13737 3.83789 7.39128 3.83789 7.67773C3.83789 8.0293 3.95182 8.32878 4.17969 8.57617C4.40755 8.82357 4.69401 9.0319 5.03906 9.20117C5.39062 9.37044 5.86914 9.57227 6.47461 9.80664C7.33398 10.1387 8.0306 10.4512 8.56445 10.7441C9.09831 11.0371 9.55729 11.4473 9.94141 11.9746C10.3255 12.502 10.5176 13.1693 10.5176 13.9766C10.5176 14.8229 10.3027 15.5618 9.87305 16.1934C9.44987 16.8249 8.8737 17.3099 8.14453 17.6484C7.41536 17.987 6.60807 18.1562 5.72266 18.1562ZM16.8906 4.20117H26.0703V6.47656H19.3711V9.96289H25.6113V12.2383H19.3711V15.6562H26.0703V18H16.8906V4.20117ZM33.0586 4.20117H35.5391V15.6562H41.4375V18H33.0586V4.20117ZM47.4492 4.20117H49.9297V15.6562H55.8281V18H47.4492V4.20117Z', transform='translate(0 -3)', fill='#212529')
              path.text-primary(d='M62.0254 15.4219H64.418V18H62.0254V15.4219Z', transform='translate(0 -3)', fill='#9A6EE2')
          button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
            i.fa.fa-bars
          // Navbar Collapse
          #navbarCollapse.collapse.navbar-collapse
            ul.navbar-nav.mx-auto
              li.nav-item.dropdown
                a#homeDropdownMenuLink.nav-link.active(href='/', data-target='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Home
              li.nav-item
                a.nav-link(href='/store') Storelist
              // Megamenu
              li.nav-item.dropdown.position-static
                a.nav-link(href='#', data-toggle='dropdown')
                  | Categories
                  i.fa.fa-angle-down
                .dropdown-menu.megamenu.py-lg-0
                  .row
                    .col-lg-12
                      .row.p-3.pr-lg-0.pl-lg-5.pt-lg-5
                        .col-lg-3
                          // Megamenu list
                          h6.text-uppercase Home Products
                          ul.megamenu-list.list-unstyled
                            li.megamenu-list-item
                              a.megamenu-list-link(href='/addproduct')
                                | Add Products
                          // Megamenu list
                          h6.text-uppercase Tags
                          ul.megamenu-list.list-unstyled
                            li.megamenu-list-item
                              a.megamenu-list-link(href='/tags')
                                | Tags
                                span.badge.badge-warning.ml-1 New
                        .col-lg-3
                          // Megamenu list
                          h6.text-uppercase Order process
                          ul.megamenu-list.list-unstyled
                            li.megamenu-list-item
                              a.megamenu-list-link(href='cart.html')
                                | Shopping cart
                          // Megamenu list
                          h6.text-uppercase Blog
                          ul.megamenu-list.list-unstyled
                            li.megamenu-list-item
                              a.megamenu-list-link(href='blog.html') Blog 
                            li.megamenu-list-item
                              a.megamenu-list-link(href='post.html') Post 
                        .col-lg-3
                          // Megamenu list
                          h6.text-uppercase Pages
                          ul.megamenu-list.list-unstyled
                            li.megamenu-list-item
                              a.megamenu-list-link(href='about.html')
                                | About us 
                                span.badge.badge-warning.ml-1 New
                          // Megamenu list
                          h6.text-uppercase Customer
                          ul.megamenu-list.list-unstyled
                            li.megamenu-list-item
                              a.megamenu-list-link(href='customer-login.html') Login/sign up 
                            li.megamenu-list-item
                              a.megamenu-list-link(href='customer-orders.html') Orders 
                        .col-lg-3
                          // Megamenu list
                          h6.text-uppercase Documentation
                          ul.megamenu-list.list-unstyled
                            li.megamenu-list-item
                              a.megamenu-list-link(href='docs/docs-introduction.html') Introduction 
                          // Megamenu list
                          h6.text-uppercase Components
                          ul.megamenu-list.list-unstyled
                            li.megamenu-list-item
                              a.megamenu-list-link(href='docs/components-bootstrap.html') Bootstrap 
                      .row.megamenu-services.d-none.d-lg-flex
                        .col-xl-3.col-lg-6.d-flex
                          .megamenu-services-item
                            svg.svg-icon.megamenu-services-icon
                              use(xlink:href='#delivery-time-1')  
                            div
                              h6.text-uppercase Free shipping & return
                              p.mb-0.text-muted.text-sm Free Shipping over $300
                        .col-xl-3.col-lg-6.d-flex
                          .megamenu-services-item
                            svg.svg-icon.megamenu-services-icon
                              use(xlink:href='#money-1')  
                            div
                              h6.text-uppercase Money back guarantee
                              p.mb-0.text-muted.text-sm 30 Days Money Back
                        .col-xl-3.col-lg-6.d-flex
                          .megamenu-services-item
                            svg.svg-icon.megamenu-services-icon
                              use(xlink:href='#customer-support-1')  
                            div
                              h6.text-uppercase 020-800-456-747
                              p.mb-0.text-muted.text-sm 24/7 Available Support
                        .col-xl-3.col-lg-6.d-flex
                          .megamenu-services-item
                            svg.svg-icon.megamenu-services-icon
                              use(xlink:href='#secure-payment-1')  
                            div
                              h6.text-uppercase Secure Payment
                              p.mb-0.text-muted.text-sm Secure Payment
                    .col-lg-3.d-none.d-lg-block
                      img.bg-image(src='img/megamenu.jpg', alt='')
              // /Megamenu end
              // Multi level dropdown
              li.nav-item.dropdown
                a#navbarDropdownMenuLink.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Dropdown
                  i.fa.fa-angle-down
                ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                  li
                    a.dropdown-item(href='#') Action
                  li
                    a.dropdown-item(href='#') Another action
                  li.dropdown-submenu
                    a#navbarDropdownMenuLink2.dropdown-item(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      | Dropdown link
                      i.fa.fa-angle-down.ml-2
                    ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink2')
                      li
                        a.dropdown-item(href='#') Action
                      li.dropdown-submenu
                        a#navbarDropdownMenuLink3.dropdown-item(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                          | Another action
                          i.fa.fa-angle-down.ml-2
                        ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink3')
                          li
                            a.dropdown-item(href='#') Action
                          li
                            a.dropdown-item(href='#') Action
                          li
                            a.dropdown-item(href='#') Action
                          li
                            a.dropdown-item(href='#') Action
                      li.dropdown-submenu
                        a#navbarDropdownMenuLink3.dropdown-item(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                          | Another action
                          i.fa.fa-angle-down.ml-2
                        ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink3')
                          li
                            a.dropdown-item(href='#') Action
                          li
                            a.dropdown-item(href='#') Action
                          li
                            a.dropdown-item(href='#') Action
                          li
                            a.dropdown-item(href='#') Action
                      li
                        a.dropdown-item(href='#') Something else here
                  li.dropdown-submenu
                    a#navbarDropdownMenuLink3.dropdown-item(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      | Dropdown link
                      i.fa.fa-angle-down.ml-2
                    ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink3')
                      li
                        a.dropdown-item(href='#') Action 
              // Multi level dropdown end
              li.nav-item
                a.nav-link(href='contact.html') Contact
              li.nav-item.dropdown
                a#docsDropdownMenuLink.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Docs
                  span.badge.badge-warning.ml-1 New
            .d-flex.align-items-center.justify-content-between.justify-content-lg-end.mt-1.mb-2.my-lg-0
              // Search Button
              .nav-item.navbar-icon-link(data-toggle='search')
                svg.svg-icon
                  use(xlink:href='#search-1')  
              // User Not Logged - link to login page
              .nav-item
                a.navbar-icon-link(href='customer-login.html')
                  svg.svg-icon
                    use(xlink:href='#male-user-1')  
                  span.text-sm.ml-2.ml-lg-0.text-uppercase.text-sm.font-weight-bold.d-none.d-sm-inline.d-lg-none
                    | Log
                    | in
              // Cart Dropdown
              .nav-item.dropdown
                a.navbar-icon-link.d-lg-none(href='cart.html')
                  svg.svg-icon
                    use(xlink:href='#cart-1')  
                  span.text-sm.ml-2.ml-lg-0.text-uppercase.text-sm.font-weight-bold.d-none.d-sm-inline.d-lg-none
                    | View
                    | cart
                .d-none.d-lg-block
                  a#cartdetails.navbar-icon-link.dropdown-toggle(href='cart.html', data-target='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    svg.svg-icon
                      use(xlink:href='#cart-1')  
                    .navbar-icon-link-badge 3 
                  .dropdown-menu.dropdown-menu-right.p-4(aria-labelledby='cartdetails')
                    .navbar-cart-product-wrapper
                      // cart item
                      .navbar-cart-product
                        .d-flex.align-items-center
                          a(href='detail.html')
                            img.img-fluid.navbar-cart-product-image(src='img/product/product-square-ian-dooley-347968-unsplash.jpg', alt='...')
                          .w-100
                            a.close.text-sm.mr-2(href='#')
                              i.fa.fa-times  
                            .pl-3
                              a.navbar-cart-product-link(href='detail.html') Skull Tee
                              small.d-block.text-muted Quantity: 1 
                              strong.d-block.text-sm
                                | $75.00
                      // cart item
                      .navbar-cart-product
                        .d-flex.align-items-center
                          a(href='detail.html')
                            img.img-fluid.navbar-cart-product-image(src='img/product/product-square-kyle-loftus-596319-unsplash.jpg', alt='...')
                          .w-100
                            a.close.text-sm.mr-2(href='#')
                              i.fa.fa-times  
                            .pl-3
                              a.navbar-cart-product-link(href='detail.html')
                                | Transparent
                                | Blouse
                              small.d-block.text-muted Quantity: 1 
                              strong.d-block.text-sm $75.00 
                      // cart item
                      .navbar-cart-product
                        .d-flex.align-items-center
                          a(href='detail.html')
                            img.img-fluid.navbar-cart-product-image(src='img/product/product-square-serrah-galos-494312-unsplash.jpg', alt='...')
                          .w-100
                            a.close.text-sm.mr-2(href='#')
                              i.fa.fa-times  
                            .pl-3
                              a.navbar-cart-product-link(href='detail.html') White Tee
                              small.d-block.text-muted Quantity: 1 
                              strong.d-block.text-sm
                                | $75.00
                    // total price
                    .navbar-cart-total
                      span.text-uppercase.text-muted Total
                      strong.text-uppercase $75.00
                    // buttons
                    .d-flex.justify-content-between
                      a.btn.btn-link.text-dark.mr-3(href='cart.html')
                        | View Cart 
                        i.fa-arrow-right.fa
                      a.btn.btn-outline-dark(href='checkout1.html') Checkout
      // /Navbar
      // Fullscreen search area
      .search-area-wrapper
        .search-area.d-flex.align-items-center.justify-content-center
          .close-btn
            svg.svg-icon.svg-icon-light.w-3rem.h-3rem
              use(xlink:href='#close-1')  
          form.search-area-form(action='#')
            .form-group.position-relative
              input#search.search-area-input(type='search', name='search', placeholder='What are you looking for?')
              button.search-area-button(type='submit')
                svg.svg-icon
                  use(xlink:href='#search-1')  
      // /Fullscreen search area


    block content
    

    block footer
    footer.main-footer
      // Main block - menus, subscribe form
      .py-6.bg-gray-300.text-muted
        .container
          .row
            .col-lg-4.mb-5.mb-lg-0
              .font-weight-bold.text-uppercase.text-lg.text-dark.mb-3
                | Sell
                span.text-primary .
              p Lorem ipsum dolor sit amet, consectetur adipisicing.
              ul.list-inline
                li.list-inline-item
                  a.text-muted.text-hover-primary(href='#', target='_blank', title='twitter')
                    i.fab.fa-twitter
                li.list-inline-item
                  a.text-muted.text-hover-primary(href='#', target='_blank', title='facebook')
                    i.fab.fa-facebook
                li.list-inline-item
                  a.text-muted.text-hover-primary(href='#', target='_blank', title='instagram')
                    i.fab.fa-instagram
                li.list-inline-item
                  a.text-muted.text-hover-primary(href='#', target='_blank', title='pinterest')
                    i.fab.fa-pinterest
                li.list-inline-item
                  a.text-muted.text-hover-primary(href='#', target='_blank', title='vimeo')
                    i.fab.fa-vimeo
            .col-lg-2.col-md-6.mb-5.mb-lg-0
              h6.text-uppercase.text-dark.mb-3 Shop
              ul.list-unstyled
                li
                  a.text-muted(href='#') For Women
                li
                  a.text-muted(href='#') For Men
                li
                  a.text-muted(href='#') Stores
                li
                  a.text-muted(href='#') Our Blog
                li
                  a.text-muted(href='#') Shop
            .col-lg-2.col-md-6.mb-5.mb-lg-0
              h6.text-uppercase.text-dark.mb-3 Company
              ul.list-unstyled
                li
                  a.text-muted(href='#') Login 
                li
                  a.text-muted(href='#') Register 
                li
                  a.text-muted(href='#') Wishlist 
                li
                  a.text-muted(href='#') Our Products 
                li
                  a.text-muted(href='#') Checkouts 
            .col-lg-4
              h6.text-uppercase.text-dark.mb-3 Daily Offers & Discounts
              p.mb-3  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.
              form#newsletter-form(action='#')
                .input-group.mb-3
                  input.form-control.bg-transparent.border-secondary.border-right-0(type='email', placeholder='Your Email Address', aria-label='Your Email Address')
                  .input-group-append
                    button.btn.btn-outline-secondary.border-left-0(type='submit')
                      i.fa.fa-paper-plane.text-lg.text-dark
      // Copyright section of the footer
      .py-4.font-weight-light.bg-gray-800.text-gray-300
        .container
          .row.align-items-center
            .col-md-6.text-center.text-md-left
              p.mb-md-0 © 2018 Your company. All rights reserved.
    // /Footer end

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.bundle.min.js')
    script(src='/javascripts/theme.js')

